In [6]:
import pandas as pd

df = pd.read_csv("/content/instagram_usage_lifestyle.csv")

df.shape

(66774, 58)

In [7]:
df.head()

,user_id,app_name,age,gender,country,urban_rural,income_level,employment_status,education_level,relationship_status,...,last_login_date,average_session_length_minutes,content_type_preference,preferred_content_theme,privacy_setting_level,two_factor_auth_enabled,biometric_login_used,linked_accounts_count,subscription_status,user_engagement_score
0,1,Instagram,51,Female,India,Rural,High,Retired,Bachelor’s,Single,...,2025-11-02,5.0,Mixed,Tech,Private,Yes,No,0.0,Free,7.83
1,2,Instagram,64,Female,United Kingdom,Urban,Middle,Full-time employed,Other,Divorced,...,2025-03-22,14.8,Photos,Fashion,Public,No,No,3.0,Free,1.43
2,3,Instagram,41,Female,Canada,Urban,Middle,Student,Bachelor’s,In a relationship,...,2025-08-10,5.0,Mixed,Other,Public,Yes,Yes,1.0,Free,9.67
3,4,Instagram,27,Non-binary,South Korea,Urban,Middle,Unemployed,Master’s,In a relationship,...,2025-03-31,25.9,Stories,Tech,Private,No,No,1.0,Free,0.94
4,5,Instagram,55,Male,India,Urban,Upper-middle,Full-time employed,Bachelor’s,Single,...,2025-03-19,13.1,Videos,Food,Public,Yes,No,0.0,Free,1.03

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66774 entries, 0 to 66773
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   user_id                         66774 non-null  int64
 1   app_name                        66774 non-null  object
 2   age                             66774 non-null  int64
 3   gender                          66774 non-null  object
 4   country                         66774 non-null  object
 5   urban_rural                     66774 non-null  object
 6   income_level                    66774 non-null  object
 7   employment_status               66774 non-null  object
 8   education_level                 66774 non-null  object
 9   relationship_status             66774 non-null  object
 10  has_children                    66774 non-null  object
 11  exercise_hours_per_week         66774 non-null  float64
 12  sleep_hours_per_night           66774 non-null  float64
 13  diet_quality                    66774 non-null  object
 14  smoking                         66774 non-null  object
 15  alcohol_frequency               66774 non-null  object
 16  perceived_stress_score          66774 non-null  int64
 17  self_reported_happiness         66774 non-null  int64
 18  body_mass_index                 66774 non-null  float64
 19  blood_pressure_systolic         66774 non-null  int64
 20  blood_pressure_diastolic        66774 non-null  int64
 21  daily_steps_count               66774 non-null  int64
 22  weekly_work_hours               66774 non-null  float64
 23  hobbies_count                   66774 non-null  int64
 24  social_events_per_month         66774 non-null  int64
 25  books_read_per_year             66774 non-null  int64
 26  volunteer_hours_per_month       66774 non-null  float64
 27  travel_frequency_per_year       66774 non-null  int64
 28  daily_active_minutes_instagram  66774 non-null  float64
 29  sessions_per_day                66774 non-null  int64
 30  posts_created_per_week          66774 non-null  int64
 31  reels_watched_per_day           66774 non-null  int64
 32  stories_viewed_per_day          66774 non-null  int64
 33  likes_given_per_day             66774 non-null  int64
 34  comments_written_per_day        66774 non-null  int64
 35  dms_sent_per_week               66774 non-null  int64
 36  dms_received_per_week           66774 non-null  int64
 37  ads_viewed_per_day              66774 non-null  int64
 38  ads_clicked_per_day             66774 non-null  int64
 39  time_on_feed_per_day            66774 non-null  int64
 40  time_on_explore_per_day         66774 non-null  int64
 41  time_on_messages_per_day        66774 non-null  int64
 42  time_on_reels_per_day           66774 non-null  int64
 43  followers_count                 66774 non-null  int64
 44  following_count                 66774 non-null  int64
 45  uses_premium_features           66773 non-null  object
 46  notification_response_rate      66773 non-null  float64
 47  account_creation_year           66773 non-null  float64
 48  last_login_date                 66773 non-null  object
 49  average_session_length_minutes  66773 non-null  float64
 50  content_type_preference         66773 non-null  object
 51  preferred_content_theme         66773 non-null  object
 52  privacy_setting_level           66773 non-null  object
 53  two_factor_auth_enabled         66773 non-null  object
 54  biometric_login_used            66773 non-null  object
 55  linked_accounts_count           66773 non-null  float64
 56  subscription_status             66773 non-null  object
 57  user_engagement_score           66773 non-null  float64
dtypes: float64(11), int64(27), object(20)
memory usage: 29.5+ MB